langchain
python-dotenv
ipykernel
langchain-community
bs4
arxiv
wikipedia
langchain-text-splitters
sentence_transformers
langchain_huggingface
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo_search==5.3.1b1
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
streamlit
fastapi
uvicorn
langserve
sse_starlette
ollama 
moviepy 
gtts
